[submodule "extern/starlight"]
	path = extern/starlight
	url = https://github.com/JSchpp12/Starlight.git
[submodule "extern/vcpkg"]
	path = extern/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "extern/StarlightAppBuilder"]
	path = extern/StarlightAppBuilder
	url = https://github.com/JSchpp12/StarlightAppBuilder.git
